<mat-card>
    <mat-card-title>Electronic Health Record</mat-card-title>
    <mat-card-subtitle>A Timeline</mat-card-subtitle>
    <mat-card-content>
        <mat-nav-list>
            <a mat-list-item>Invoice 1</a>
            <a mat-list-item>Invoice 2</a>
            <a mat-list-item>Invoice 3</a>
          </mat-nav-list>
    </mat-card-content>
    <mat-card-actions>
      
      <button
        mat-raised-button
        color="primary"
        routerLink="/main/dashboard"
      >
        Dashboard
      </button>
    </mat-card-actions>
    <mat-card-footer>by David</mat-card-footer>
  </mat-card>
  