@import '~@angular/material/theming';
@import '~libs/shared/scss/abstracts/button';
@import '~libs/shared/scss/abstracts/side-navigation';

$axa-app-primary: mat-palette($mat-blue-grey);
$axa-app-accent: mat-palette($mat-grey);
$axa-app-warn: mat-palette($mat-red);
$axa-app-theme: mat-light-theme($axa-app-primary, $axa-app-accent, $axa-app-warn);

$axa-app-typography: mat-typography-config(
  $font-family: 'cursive',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(14px, 24px, 500)
);

@include mat-core($axa-app-typography);

@include angular-material-theme($axa-app-theme);

@include button-theme($axa-app-theme);
@include side-navigation-theme($axa-app-theme);

