@import '~@angular/material/theming';
@import '~libs/shared/scss/abstracts/button';
@import '~libs/shared/scss/abstracts/side-navigation';

@include mat-core();

$default-app-primary: mat-palette($mat-cyan);
$default-app-accent: mat-palette($mat-amber);
$default-app-warn: mat-palette($mat-red);
$default-app-theme: mat-light-theme($default-app-primary, $default-app-accent, $default-app-warn);

@include angular-material-theme($default-app-theme);
@include button-theme($default-app-theme);
@include side-navigation-theme($default-app-theme);
