<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened fxLayout="row" fxLayoutGap="4px">
        <div fxLayout="column">
            <mgs-side-navigation></mgs-side-navigation>
            <mgs-footer></mgs-footer>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mgs-header></mgs-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>