@mixin side-navigation-theme($theme) {
    $primary: map-get($theme, primary);
    .mat-drawer {
        background: #eee;
        > div {
            > div {
                background: white;
                border-left: 4px solid mat-color($primary);
                width: 336px;
            }
        }
    }
}
