<div fxLayout="column">
  <img
    fxFlex="100"
    src="assets/images/features/login/src/assets/images/colored-rectangle-copy.png"
  />

  <div fxLayout="row" fxFlexOffset="60px">
    <form class="example-form" fxFlex="33" fxLayout="column" fxFlexOffset="33" [formGroup]="loginForm" (ngSubmit)="loginForm.valid && login()">
      <mat-form-field appearance="outline">
          <mat-label>E-Mail Adresse</mat-label>
          <input formControlName="email" matInput placeholder="E-Mail Adresse">
      
          <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="loginForm.controls.email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <mat-form-field fxFlexOffset="32px" appearance="outline">
          <mat-label>Passwort</mat-label>
          <input formControlName="password" matInput placeholder="Passwort" type="password">

          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
      </mat-form-field>

      <button fxFlexOffset="32px" mat-raised-button color="primary" type="submit">
        Dashboard
      </button>
      <a fxFlexOffset="16px" fxLayoutAlign="center" href="">Password vergessen</a>
      <a fxFlexOffset="8px" fxLayoutAlign="center" href="">Jetzt kostenfrei registrieren</a>
    </form>
  </div>

  <div fxFlexOffset="160px">
    <div fxLayout="row">
      <div fxFlex="33" fxFlexOffset="32px">
        <img
          src="assets/images/features/login/src/assets/images/siegel-datenschutz-rlp-web-small-02.png"
        />
        <img
          fxFlexOffset="16px"
          src="assets/images/features/login/src/assets/images/tuev-datenschutz.png"
        />
      </div>
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="center center">
        <img
          src="assets/images/features/login/src/assets/images/app-store.png"
        />
        <img
          fxFlexOffset="12px"
          src="assets/images/features/login/src/assets/images/google-play.png"
        />
      </div>
    </div>
  </div>

  <footer fxFlexOffset="43px" fxLayoutAlign="center">some footer</footer>
</div>
